* {
	background-color: black;
}

.text-color {
	color: #c1b066;
}

#heading {
	font-size: 45px;
	text-align: center;
	padding: 20px;
}

.pirate-scrawl {
	font-family: 'Homemade Apple', cursive;
	color: #c1b066;
}

#map {
	width: 735px;
	height: 652px;
}

.game-text {
	width: 600px;
	height: 100px;
}

button {
	margin: 0 auto;
	/*display: block;*/
}

#clue-header {
	text-align: center;
}

.clues {
	font-family: 'Pangolin', cursive;
	font-size: 22px;
}

#init {
	height: 40px;
	width: 200px;
	color: #c1b066;
	font-size: 20px;
	margin: 0 auto;
}

.copyright {
	color: #c1b066;
}

#distance, #attempts {
	font-size: 28px;
	padding: 20px;
}

.footer-text {
	color: #c1b066;
	font-size: 15px;
	text-align: center;
}