* {
	background-color: black;
}

.text-color {
	color: #c1b066;
}

.text-center {
	text-align: center;
}

#heading {
	font-size: 45px;
	padding: 20px;
}

.pirate-scrawl {
	font-family: 'Homemade Apple', cursive;
}

#map {
	width: 735px;
	height: 652px;
}

.game-text {
	width: 600px;
	height: 100px;
}

button {
	margin: 0 auto;
	display: block;
}

.clues {
	font-family: 'Pangolin', cursive;
	font-size: 22px;
	text-align: justify;
}

#init {
	height: 40px;
	width: 200px;
	font-size: 20px;
	margin: 0 auto;
}

.license {
	font-size: 12px;
}

#distance, #attempts {
	font-size: 28px;
	padding: 20px;
}

.footer-text {
	font-size: 15px;
}